@model Cliente

<a asp-controller="Clientes" asp-action="Index" class="btn btn-dark">
    Volver a Index
</a>

<div class="card">
    <img src="@Model.Imagen" style="width: 200px; height: 200px" class="card-img-top"/>
    <div class="card-body">
        <h5 class="card-title">@Model.Nombre</h5>
        <p class="card-text">Direccion: @Model.Direccion</p>
        <p class="card-text">Email: @Model.Email</p>
    </div>
</div>